@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Trash Collector</h1>
    <br/>
    <br/>
    <img src="https://cheapbinrental.com/wp-content/uploads/2015/11/recycle-man.png"
         alt="Trash Colllector Service" style="width:450px; height:450px; justify-content:center; align-items:center;" />
</div>
